@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryTextColor: #232e35; 
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --linecolor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #2316b5;
    --primaryIconColorHover: #150b84;

    --sectionPadding: 60px;

    --itemBorderRadius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem; /* 1 Rem = 16 px*/
    line-height: 1.9rem; 
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none; /* hapus garis bawah pada link */
}

.main-container {
    width: 1200px;
    margin: 0 auto; /* untuk membuat center */
}

/* navigasi */
.nav-item {
    font-size: large;
    margin: 20px;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0.1rem;
}

.hero-name span {
    color: var(--primaryIconColor);

}

.hero-right img {
    width: 75%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* Title */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2 rem;   
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--linecolor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Services Section */
#services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding); 
}

.services .pre-title{
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: var(--primaryIconColor);
}

/* footer */
footer {
    padding:4rem 0;
    background: var(--primaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem ;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons svg:hover {
    fill: #000;
}
